{% extends "base.jinja2" %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Print Queue</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-danger" onclick="clearQueue()">Clear Queue</button>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add to Queue</button>
      </div>
    </div>
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Model Name</th>
          <th>Color</th>
          <th>User Name</th>
        </tr>
      </thead>
      <tbody id="queueBody">
      </tbody>
    </table>
  </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addModalLabel">Add to Queue</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="model-name">Model Name</label>
          <input type="text" class="form-control" id="model-name">
        </div>
        <div class="form-group">
          <label for="color">Color</label>
          <select class="form-control" id="color">
            {% for color in plugin_settings.get(["colors"]) %}
            <option value="{{ color }}">{{ color }}</option>
            {% endfor %}
          </select>
          <input type="text" class="form-control" id="custom-color" placeholder="Custom Color">
        </div>
        <div class="form-group">
          <label for="user-name">User Name</label>
          <input type="text" class="form-control" id="user-name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="addToQueue()">Add to Queue</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
